.navbar-header {
    float: left;
    width: 100%;
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    font-size: 3em;
    color: silver;
}

.navbar-header:hover {
    text-decoration: none;
    color: silver;
}

.navbar-header:hover {
    text-decoration: none;
}

.nav-link {
    font-weight: bold;
    right: 0
}