.thread-container {
    background: repeating-linear-gradient(45deg, #666666, #cccccc 30%, #ffffff);
    color: black;
    position: relative;
    border: 3px solid gray
}

.article-img {
    border-bottom: 2px solid gray;
    border-right: 2px solid gray
}

.comment-col {
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
}

.back-btn {
    position: absolute;
    bottom: 0;
    left: 1;
}

.back-link {
    color: black;
}

.back-link:hover {
    color: black;
    text-decoration: none;
}


