.article-author {
    font-style: italic;
}

.article-img {
    height: 100%
}

.btn-danger {
    background: linear-gradient(to bottom right, goldenrod, maroon)
}

.btn-warning {
    background: linear-gradient(to bottom right, teal, goldenrod)
}

.thread-btn-container {
    position: absolute;
    bottom: 0;
    left: 1;
}

.delete-btn-container {
    position: absolute;
    bottom: 0;
    right: 0;
}