.Home {
    font-family: 'Berkshire Swash', cursive;
}

form {
    max-width: 400px;
    background: repeating-linear-gradient(45deg, #666666, #cccccc 30%, #ffffff);
    border-radius: 2%;
    opacity: .9;
    font-family: 'Impact', fantasy;
}

#search_icon {
    max-width: 5em;
    max-height: 5em;
}

.date-input {
    display: inline-block;
    width: 47%;
}

#query-btn, #saved-btn {
    width: 80%;
    border: 2px solid skyblue;
    border-radius: 10px;
    font-family: 'Berkshire Swash', cursive;
}

#query-btn {
    background: linear-gradient(to bottom right, purple, navy);
}

#saved-btn {
    background: linear-gradient(to bottom right, green, rgb(64, 0, 128));
}

#query-btn:hover {
    background: purple
}

#saved-link {
    color: white
}

#saved-btn:hover {
    background: green;
}

#saved-link:hover {
    text-decoration: none;
}

.result-title {
    font-family: 'Berkshire Swash', cursive;
    font-size: 2em;
    background: -webkit-linear-gradient(silver, teal);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}